* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}


body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0.4;
}

.container {
    width: 80%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}

.btn {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 250px;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__texto-azul {
    color: #1875E8;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.message {
    text-align: center;
}

.buttons {
    display: flex;
    gap: 2em;
    justify-content: center;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 48px;
    padding-bottom: 3rem;
}

button {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.texto__paragrafo {
    font-size: 32px;
    font-weight: 400;
}

button:disabled {
    background-color: gray;
}

@media screen and (min-width: 1095px) and (max-width: 1360px) {
    .imagem {
        width: 30vw;
    }

    h1 {
        font-size: 30px;
    }
}

@media screen and (min-width: 550px) and (max-width: 1095px) {
    .container {
        flex-direction: column;
    }

    .imagem {
        margin-top: 20px;
        width: 20vw;
    }

    h1 {
        font-size: 20px;
    }

    .btn {
        width: 30vw;
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    .container {
        flex-direction: column;
    }

    .imagem {
        margin-top: 20px;
        width: 20vw;
    }

    h1 {
        font-size: 20px;
    }

    .btn {
        width: 30vw;
        font-size: 16px;
    }
}